@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUserViewModel> SignInManager
@inject UserManager<ApplicationUserViewModel> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#">@User.Identity.Name</a>
    </li>
}
else
{
    <ul class="navbar-nav navbar-right">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
